.ApexPie .apexcharts-legend,
.rs-drawer .ApexPie .apexcharts-legend {
  top: 5px !important;
}

.ApexPie .dvapp-panel-body,
.rs-drawer .ApexPie .dvapp-panel-body {
  display: inline-block !important;
}
.ApexPie .apexcharts-legend .apexcharts-legend-series,
.rs-drawer .ApexPie .apexcharts-legend .apexcharts-legend-series {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
}

.ApexPie .apexcharts-legend .apexcharts-legend-text {
  display: inline-block;
  position: relative;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ApexPie .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series,
.apexcharts-legend.apexcharts-align-left .apexcharts-legend-series {
  display: flex !important;
  align-items: center;
}

.ApexPie,
.rs-drawer .ApexPie {
  height: 100%;
}
